
.warehouseTable {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

  }

  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .headerCell {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;
    font-weight: bold;
  }

  tr {
    background-color: #fff;
  }
  
  .editButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 3px;
  }
  .deleteButton {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  